h1 {
  font-family: 'Jockey One', sans-serif;
  font-size: 70px;
  text-align: center;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #F5F5F5;

  @include tablet {
    font-size: 130px;
  }
}

.article {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 65px;

  @include tablet {
    width: 730px;
    flex-direction: row;
  }

  .article__image {
    width: 330px;
    height: 227px;
    overflow: hidden;
    
    img {
      width: 100%;
    }
  }

  .article__text {
    width: 370px;
    font-size: 14px;
    line-height: normal;
    padding-top: 20px;

    h2,span,a {
      color: grey;
    }

    h2 {
      font-size: 18px;
    }

    p {
      margin-top: 14px;
    }

    a {
      font-size: 16px;
      margin-top: 20px;
      display: inline-block;
      transition: color 0.5s;

      &:hover{
        color: white;
      }
    }
  }

  &:last-of-type {
    padding-bottom: 30px;
  }
}

.home {
  padding-top: 50px;
  margin: 0 auto;

  .home__text {
    margin: 0 auto;
    width: 100%;
    
    @include tablet {
      width: 480px;
    }
  }

  p {
    text-align: center;
    font-size: 20px;

    @include tablet {
      font-size: 25px;
      color:white;
      text-align: left;
      padding-top: 120px;
      line-height: 1.1;
      width: 100%;
    }
  }

  h1 {
    font-size: 60px;
    @include tablet{
      text-align: right;
      font-size: 130px;
    }
  }

  .home__picture {
    background-image: url("https://s3.eu-central-1.amazonaws.com/agnieszkakuc.gallery/aboutMe/0212.%2B%2B4.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 635px;
    margin: 0 auto;
    @include tablet{
      width: 435px;
      margin-bottom: 20px;
      text-align: right;
      font-size: 130px;
    }
  }

  @include tablet {
    display: flex;
    justify-content: space-between;
    width: 940px;
  }
}

.translations {
  padding-top: 50px;
  margin: 0 auto;

  &__text {
    margin: 0 auto;
    position: relative;

    @include tablet {
      width: 480px;
    }
  }

  h1 {
    font-size: 60px;
    @include tablet {
      text-align: right;
      font-size: 130px;
    }
  }

  p {
    text-align: center;
    width: 100%;
    font-size: 20px;

    @include tablet{
      font-size: 16px;
      color:white;
      text-align: left;
      position: absolute;
      bottom: 20px;
      line-height: 1.1;
      width: 435px;
    }
  }

  .translations__gallery {
    display: block;
    width: 90%;
    height: 635px;
    background-image: url("https://s3.eu-central-1.amazonaws.com/agnieszkakuc.gallery/articles/Burton_Muza_m.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 20px auto;
    opacity: 0.8;
  
    &:hover {
      opacity: 1;
      cursor: pointer;
    }

    @include tablet{
      width: 435px;
      text-align: right;
      font-size: 130px;
    }
  }

  @include tablet {
    display: flex;
    justify-content: space-between;
    width: 940px;
  }
}

.media {
  padding-top: 50px;
  margin: 0 auto;

  &__leftPanel {
    margin: 0 auto;
    width: 100%;
    position: relative;

    @include tablet {
      width: 480px;
    }
  }

  &__header {
    font-size: 60px;

    @include tablet{
      text-align: left;
      font-size: 130px;
    }
  }

  &__rightPanel {
    margin: 50px auto;

    @include tablet{
      margin-bottom: 20px;
    }
  }

  @include tablet {
    display: flex;
    justify-content: space-between;
    width: 940px;
  }
}

.media-article {
  width: 350px;
  margin: 0 auto 85px;
  font-family: Arial, sans-serif;

  &__description {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 1px;
  }

  &__footer {
    padding-top: 10px;
    font-size: 16px;
  }

  &__source {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
  }

  &__link {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
  }
}

.contact {
  &__header {
    font-size: 60px;
    text-align: right;
    padding: 100px;

    @include tablet{
      font-size: 130px;
    }
  }
}

#myInput {
  display: block;
  margin: 0 auto;
}

.form {
  display: none;
  margin-left: auto;
  margin-right: auto;
}
