header {
  margin: 0 auto;

  @include tablet{
    width: 980px;
  }
}

nav {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #fff;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    li {
      width: 100%;
      border-right: white solid 1px;
      text-align: center;
      height: 50px;
      line-height: 50px;
      background: linear-gradient(#202020 , #000000 );
      &:hover:not(.active){
        opacity: 0.7;
      }
    }

    @include tablet{
      flex-direction: row;
      justify-content: center;

      li {
        height: 30px;
        line-height: 30px;
        width: 196px;
        background: linear-gradient(#202020 50%, #000000 50%);
      }

      li:first-of-type {
        border-radius: 20px 0 0 20px;
      }

      li:last-of-type {
        border-radius: 0 20px 20px 0;
      }
    }

  }
}

.active {
  color: #ffa;
}
